appId    = "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
password = "********-****-****-****-************"
# az_subscription = "********-****-****-****-************"
# az_tenant = "********-****-****-****-************"

container_name_registry = "paulopklContainerRegistry"
resource_group_name = "devops_infra_resource_group"
aks_cluster_name = "PauloAKSCluster"
azure_application_name = "paulopkl_app_name"
aks_cluster_name_dns = "PauloAKSCluster-dns"
service_principal_pass_client_secret = ""

azure_devops = {
    personal_access_token = ""
    org_service_url       = "https://dev.azure.com/< Project Name >"
    project_description   = "Project Description"
    project_name          = "devops-infra"
    visibility            = "private"
}
